/* Created by Aurange */

body {
	background-color: rgb(210, 180, 140);
	margin: 0px;
	min-width: 800px;
	min-height: 600px;
}

section#wrap {
	display: flex;
	margin: 5px;
	padding: 5px;
	height: calc(100% - 50px);
	flex-wrap: wrap;
	align-content: flex-start;
	gap: 10px;
	overflow-y: auto;
}

section#wrap > a {
	color: rgb(0, 0, 0);
	text-decoration: none;
}

section#wrap > a > div.item {
	background-color: rgb(254, 251, 234);
	width: 350px;
	height: 125px;
	box-sizing: border-box;
	border-radius: 20px;
	padding: 20px;
}

section#wrap > a > div.item:hover {
	outline: 5px solid rgb(218, 165, 32);
}

section#wrap > a > div.item > span.itemTitle {
	font-style: italic;
}

footer {
	background-color: rgb(98, 74, 46);
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
        height: 30px;
	line-height: 30px;
	text-align: center;
}
