/* Created by Aurange */

body {
	display: flex;
	background-color: rgb(210, 180, 140);
	margin: 0px;
	min-width: 900px;
	min-height: 900px;
	justify-content: center;
	align-items: center;
}

section#mainWrap {
	display: grid;
	width: 900px;
	height: 900px;
	grid-template-columns: 20px 420px 20px 420px 20px;
	grid-template-rows: 20px 810px 20px 30px 20px;
}

section#mainWrap > section#projects, section#mainWrap > section#userscripts, footer {
	background-color: rgb(218, 165, 32);
	border-radius: 20px;
}

section#mainWrap > section#projects, section#mainWrap > section#userscripts {
	display: grid;
	grid-row: 2;
	grid-template-columns: 10px 400px 10px;
	grid-template-rows: 10px 30px 10px 750px 10px;
}

section#mainWrap > section#projects {
	grid-column: 2;
}

section#mainWrap > section#userscripts {
	grid-column: 4;
}

section#mainWrap > section#projects > div.title, section#mainWrap > section#projects > section.itemWrap, section#mainWrap > section#userscripts > div.title, section#mainWrap > section#userscripts > section.itemWrap {
	grid-column: 2;
}

section#mainWrap > section#projects > div.title, section#mainWrap > section#userscripts > div.title {
	background-color: rgb(197, 197, 197);
	grid-row: 2;
	box-sizing: border-box; 
	border-radius: 20px;
	padding-top: 5px;
	line-height: 20px;
	text-align: center;
	font-weight: bold;
}

section#mainWrap > section#projects > section.itemWrap, section#mainWrap > section#userscripts > section.itemWrap {
	grid-row: 4;
	overflow-y: auto;
}

section#mainWrap > section#projects > section.itemWrap > div.item, section#mainWrap > section#userscripts > section.itemWrap > div.item {
	background-color: rgb(254, 251, 234);
	width: 100%;
	height: 220px;
	box-sizing: border-box;
	border-radius: 20px;
	padding: 20px;
}

section#mainWrap > section#projects > section.itemWrap > div.item:not(:last-of-type),  section#mainWrap > section#userscripts > section.itemWrap > div.item:not(:last-of-type) {
	margin-bottom: 5px;
}

section#mainWrap > section#projects > section.itemWrap > div.item > span.itemTitle, section#mainWrap > section#userscripts > section.itemWrap > div.item > span.itemTitle {
	font-style: italic;
}

section#mainWrap > section#projects > section.itemWrap > div.item > a > button, section#mainWrap > section#userscripts > section.itemWrap > div.item > a > button {
	background-color: rgba(190, 218, 247, 1);
	border-color: rgba(22, 102, 186, 1);
	border-width: 2px;
	border-radius: 10px;
	cursor: pointer;
}

footer {
	grid-column: 2 / span 3;
	grid-row: 4;
	box-sizing: border-box; 
	padding-top: 5px;
	line-height: 20px;
	text-align: center;
}
